.box-container .box-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 28px;
}
.box-container .box-content span {
    font-size: 18px;
}
.box-new:before {
    content: '';
    position: absolute;
    top: -11px;
    left: -11px;
    width: 22px;
    height: 22px;
    background: #E07A64;
    border-radius: 50%;
}
@media only screen and (min-width:968px) {
    .graduation{
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    .box-container .graduation:hover {
        transform: scale(1.05);
        transition-timing-function: linear;
    }
    
  }