.btn {
    padding: 11px 57px;
    background: none;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    margin: 0;
}
#landingpage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://picsum.photos/1600/1200');
    background-size: cover;
    background-position: center;
}

.landingpage-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.15);
}

.landingpage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.landingpage-text {
    width: 80%;
}

.landingpage-text h1, h2{
    margin-bottom: 50px;
    color: white;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin: 0 0 35px 0px;
}

@media only screen and(min-width:768px) {
    .landingpage-container {
        width: 94%;
      }
      
      h2 {
        margin-left: 0;
      }
      
      .landingpage-text {
        width: 70%;
      }
      .btn {
        margin-left: 0;
      }
          
}

@media only screen and (min-width:968px) {
    .btn {
        margin-left: 0;
        transition: 1s all;
    }
    
    .btn:hover {
        background: white;
        color: black;
    }
}