#about {
    display: absolute;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-container .person:nth-child(2n+1) {
     flex-direction: row-reverse;
}
  
.about-container h1 {
    text-align: center;
}

.person {
    display: grid;
    align-items: center;
    justify-content: center;
}
.person p {
    text-align: center;
}

.image {
    position: relative;
    width: 200px; 
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin:0 auto;
}
.description {
    
    margin: 2% 5%;
    text-align: center;
}
.description > h1{
    font-size: 26px;
}
.preson .description > p {
    font-size: 18px;
    line-height: 21px;
}
.about-container > h1{
    margin-top: 10px;
}
@media only screen and(min-width:768px) {
    .person {
        display: flex;
        justify-content: space-between;
        padding: 7% 0;
        margin: 0 5%;
      }
      
      .person p {
        text-align: left;
      }
      .about-container .person:nth-child(2n+1) p {
        text-align: right;
      }
      
      .description {
        width: 70%;
      }  
}

@media only screen and (min-width:968px) {
    .about-container h1 {
        margin-top: 20px;
        }
    
      .description {
        width: 70%;
      }
      .person {
        display: flex;
        justify-content: space-between;
        padding: 7% 0;
        margin: 0 5%;
      }
      
}