#offer {
    padding: 80px 0;
    background: #405D78;
}

#offer h1 {
    margin-bottom: 80px;
    color: white;
    text-align: center;
}
      
.box-container {
    display: grid;
    grid-row-gap: 50px;
    grid-row: auto;
    padding: 0 5%;
}
      
.box-container > div:after {
    content: '';
    display: block;
    background: #F1F1F1;
    padding-bottom: 100%;
}
      
.box-container > div {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width:768px) {
    .box-container {
        grid-template-columns: 29% 29% 29%;
        grid-template-rows: auto;
        grid-column-gap: 46.8px;
        grid-row-gap: 46.8px;
        width: 720px;
        margin: 0 auto;
        padding: 0;
      }
      
  }
  
