.container {
  width: 96%;
  margin: 0 auto;
}
body {
  font-family: 'roboto', sans-serif;
  margin: 0;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

@media only screen and (min-width:768px) {
  .container {
    width: 760px;
  }
 
  
}

@media only screen and (min-width:968px) {
  .container {
    width: 960px;
}

}