nav {
    background-color: #4E4E4E;
}

nav a {
    margin-left: 45px;
    text-decoration: none;
    color: white;
}

.nav--links {
    display: none;
}
.nav--toggler {
    
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 50px;
}

.nav-container > a:first-of-type {
    margin: 0;
    font-weight: bold;
}

.nav-container div a:last-of-type {
    cursor: not-allowed;
}

@media only screen and (min-width:768px) {
.nav--links {
    display: block;
  }
  .nav--toggler {
    display: none;
  }
  .nav-container {
    width: 94%;
  }

}
