
footer {
    background-color: #4E4E4E;
}

.foot-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%; 
}

.foot-section i {
  margin:0 5px 15px 5px;
  cursor: pointer;
}
.text-footer {
  margin:15px 4%;
  font-size: 14px;
  line-height:21px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.i {
  margin-right:15px;
}
@media only screen and (min-width:768px) {
    .foot-section i {
        margin: 0;
      }
      .icons {
        padding: 0 4%;
        
      }
      .i {
        align-items: center;
      
      }
      .foot-section {
        flex-direction: row;  
      }
      
      .text-footer {
        font-size: 18px;
      }
      
      
  }
  
@media only screen and (min-width:968px) {
    
      .text-footer {
          margin: 15px 0;
      }
  }